MÓDULO 1 - Introducción a Kubernetes y Contenedores/TERRAFORM-GCLOUD Instalar un cluster de K8s con kubeadm/cluster-k8s-437300-65cea77a74c6.json
MÓDULO 1 - Introducción a Kubernetes y Contenedores/TERRAFORM-GCLOUD Instalar un cluster de K8s con kubeadm/.terraform.lock.hcl
MÓDULO 1 - Introducción a Kubernetes y Contenedores/TERRAFORM-GCLOUD Instalar un cluster de K8s con kubeadm/terraform.tfstate
MÓDULO 1 - Introducción a Kubernetes y Contenedores/TERRAFORM-GCLOUD Instalar un cluster de K8s con kubeadm/terraform.tfstate.backup
MÓDULO 1 - Introducción a Kubernetes y Contenedores/TERRAFORM-GCLOUD Instalar un cluster de K8s con kubeadm/.terraform
MÓDULO 2 - Configuración y Despliegue de Kubernetes en AWS/TERRAFORM - Amazon Elastic Kubernetes Service (EKS)/.terraform
MÓDULO 2 - Configuración y Despliegue de Kubernetes en AWS/TERRAFORM - Amazon Elastic Kubernetes Service (EKS)/.terraform.lock.hcl
MÓDULO 2 - Configuración y Despliegue de Kubernetes en AWS/TERRAFORM - Amazon Elastic Kubernetes Service (EKS)/terraform.tfstate.backup
MÓDULO 2 - Configuración y Despliegue de Kubernetes en AWS/TERRAFORM - Amazon Elastic Kubernetes Service (EKS)/terraform.tfstate
